.mat-list-item{
    color:black;    
}

.sortBy{
    margin: 2%;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
}